/* 
    Document   : ex4_ai
    Created on : Jan 12, 2012, 11:46:20 PM
    Author     : EX4 Andrey Shamis AND Ilia Gaysinsky

*/
body,html{  
	margin: 0;  
	padding: 0;  
        font-size: 19px;
        color: #0f116e;
        font-family: tahoma;
        height: 100%;
        
}  
table{
    width: 100%;
    height: 100%;
}
.menu_link{
    background-color:#1240ab;
    color:aliceblue;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    margin: 2px;
    padding: 2px;
}
input[type=submit]{
     -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    margin: 2px;
    padding: 2px; 
}
input{
     -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    position: relative;
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    margin: 2px;
    padding: 2px; 
    background-color: aliceblue;
    color: #4671d5;
}
.menu{
    color:aliceblue;
    text-align:left;
    background-color:#1240ab; 
    height: 25px;
    padding: 10px;
    
position: relative;
}
.right_window{
    width: 80%;
    height: 100%;
}
.left_window{
    width: 20%;
    height: 100%;
}
.home_window{
    background-color: darkseagreen;
    min-height: 95%;
    position: absolute;
    width: 100%;
}
.chatWindow{
   height: 99%;
   width: 79%;
   position: absolute;
   border: 1px solid #434233;
}
.userWindow{
   height: 99%;
   width: 19%;
   position: absolute;
   border: 1px solid #434233;
}
a{
    font-size: 18px;
    color:aliceblue;
    background-color:#1240ab;
}
a:hover {
    background-color:#4671d5;
    color:#ffffff;
}
a:link {
    text-decoration:none;
}
.registriontdfree{
    width: 15%;
}
.registriontd{
    width: 35%;
    background-color: inherit;
}
.registrationTable{
    width: 100%;
    border: 1px solid moccasin;
}
.register_title{
    text-align: center;
}

.logintdfree{
    width: 15%;
}
.logintd{
    width: 35%;
    background-color: inherit;
}
.loginTable{
    width: 100%;
    border: 1px solid moccasin;
}
.login_title{
    text-align: center;
}
.tdUserMenuRight{
    width: 20%;
}
.tdUserMenuLeft{
    width: 80%;
}
.userNameinList{
    font-size: 20px;
    background-color: darkseagreen;
}
.userNameinList:hover{
    -webkit-transition: background 0.5s ease, color 0.3s ease;
    color: #fd6868;
    font-weight: bold;
}